<% content_for :title, "Md5 加密工具" %>
<p>请输入需要MD5加密的字符串:</p>
<p><textarea id ="input-box" cols="80" rows="20"></textarea></p>


<div>Result will be here : <pre id="output-label" class="mark"></pre></div>
<script type="text/javascript">



    function trans()
    {
       var s = $('#input-box').val();

        $('#output-label').html(md5(s));

    }
    trans();
  $('#input-box').keyup(function(e){

        trans();
  });
</script>